<!DOCTYPE html>
<html>

<head>
	<title>Diary</title>
	<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
				<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
					<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<nav class="myNavbar">
		<div class= "container">
			<a href="/posts" class="brand-logo center">
				<i class= "material-icons">calendar_today</i>Diary</a>
				
	</nav>
	
	<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons" >add</i>
  </a>
  <ul>
	  <li><a class="btn-floating green" href="/users/sign_out" data-method="delete"><i class="material-icons">exit_to_app</i></a></li>
	  <li><a class="btn-floating yellow darken-1" href="/users/edit"><i class="material-icons">settings</i></a></li>
	  <li><a class="btn-floating yellow darken-1" href="/posts"><i class="material-icons">home</i></a></li>
      
	  <li><a class="btn-floating red" href="/posts/new"><i class="material-icons">mode_edit</i></a></li>
  </ul>
</div>

	<%= yield %>
</body>

</html>
